swagger: "2.0"
info:
  description: "The InterCloud platform helps global enterprises control, secure and manage their access to cloud applications. The InterCloud REST API provides a convenient and simple Web services API, enabling customer to automate and integrate our set of management and supervision capabilities with their own information system."
  version: "1.0.0"
  title: "InterCloud API"
host: "api.intercloud.com"
basePath: "/api/v1"
tags:

- name: "Movies"
  description: ""

- name: "Series"
  description: ""

- name: "Anime"
  description: ""

schemes:
- "https"
paths:
  /movies:
    get:
      tags:
      - "Movies"
      summary: "List of movies"
      responses:
        200:
          description: "successful operation"
  /movies/{id}:
    put:
      tags:
      - "Movies"
      summary: "Update movie schedule"
      parameters:
      - name: "id"
        in: "path"
        type: "string"
        description: ""
        required: true
      responses:
        200:
          description: "successful operation"
  /series:
    get:
      tags:
      - "Series"
      summary: "List of series"
      responses:
        200:
          description: "successful operation"
    post:
      tags:
      - "Series"
      summary: "Create a new serie"
      responses:
        200:
          description: "successful operation"
  /series/{id}:
    put:
      tags:
      - "Series"
      summary: "Update a serie"
      parameters:
      - name: "id"
        in: "path"
        type: "string"
        description: ""
        required: true
      responses:
        200:
          description: "successful operation"
    delete:
      tags:
      - "Series"
      summary: "Delete a serie"
      parameters:
      - name: "id"
        in: "path"
        type: "string"
        description: ""
        required: true
      responses:
        200:
          description: "successful operation"
  /anime:
    get:
      tags:
      - "Anime"
      summary: "List of anime"
      responses:
        200:
          description: "successful operation"
  /animes:
    post:
      tags:
      - "Anime"
      summary: "Create anime"
      responses:
        200:
          description: "successful operation"
